.App {
  text-align: center;
}

.light{
  background-color: rgb(214, 199, 199);
  color: black;
}

.dark{
  background-color: black;
  color: wheat;
}

.menu{
  text-align: center;
  align-items: center;
  padding-top: 2rem;
}

.menubutton{
  align-items: center;
  text-align: center;
  margin: 2vh;
  margin-left: 2vh;
}

Button{
  margin: 1rem;
}

.btn-dark:hover{
  background-color: blueviolet !important;
  
}.btn-light:hover{
  background-color: rgb(127, 138, 109) !important;
  
}

.btn{
  border: none;
  outline: none;
  box-shadow: none;
}

.btn-dark{
  color: wheat;
}

.btn-light{
  color:black;
}
